<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<connectionStrings>
		<add name="cadena_conexion" connectionString="Data Source=(local);Initial Catalog=DBSISTEMA_VENTAS1;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
